* {
    outline: 1px solid red;
    font-family: Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}



.header {
    background-color: #1f2937;
    color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    max-height: 54px;
    width: auto;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 64px;
}

.hleft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.name,
.item {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    padding-left: 0;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* MAIN-TOP */

.main-top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 60px;
    gap: 16px;
    flex: 1 1 auto;
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    gap: 8px;
}

.first-text {
    font-size: 48px;
}

.second-text {
    display: flex;
}

.contato {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.subtitle-text {
    font-size: 18px;
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 256px;
    width: 1024px;
    object-fit: cover;
    padding: 16px;
}

/* content */

.some-information {
    display: flex;
    flex-flow: column nowrap;
    padding: 64px;
}

.conheça {
    display: flex;
    justify-content: center;
    /*font-family: 'Brush Script MT';*/
}

.catalogo {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    outline: solid 3px #3882f6;
    margin-bottom: 12px;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    padding: 128px 256px;
}

.quote a {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.modal {
    padding: 48px;
}

.modal .main {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 32px 64px;
    color: white;
    display: flex;
    justify-content: center;
    flex: 2
}

.mleft {
    display: flex;
    flex: 2 1 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 32px;
}